#submitPostDiv{
	position: static;
	height: 15%;
	border: 1px solid #000000;
	-webkit-box-sizing: border-box;
	padding: 1%;
}

#postText{
	position: static;
	height: 100%;
	-webkit-box-sizing: border-box;
	width: 20%;
	resize: none;
	font-size: 14pt;
	float: left;
}

#postBtn{
	position: static;
	float: left;
	height: 100%;
}

#postsDiv{
	position: static;
	-webkit-box-sizing: border-box;
	/* border: 1px solid #000000; */
	height: 85%;
	padding-top: 1%;
}

#left{
	position: static;
	float: left;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	overflow: scroll;
}

#right{
	position: static;
	float: left;
	width: 50%;
	height: 100%;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	overflow: scroll;
}

#postContainer{
	position: static;
	width: 100%;
	height: 18%;
	-webkit-box-sizing: border-box;
	/* border: 1px solid #000000;
	padding-right: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;  */
	padding: 2%;
}

#post{
	position: static;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
}