#headerBar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 15%;
	border: 1px solid #000000;
	-webkit-box-sizing: border-box;
	padding: 1%;
}

#leftBar {
	box-sizing:border-box;
    padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 15%;
	width: 15%;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	-webkit-box-sizing: border-box;
	padding: 1%;
}

#body {
	position: fixed;
	left: 15%;
	right: 0;
	top: 15%;
	bottom: 0;
	background-color: #FFFFFF;
}

#time{
	float: right;
}