#right{
 	border-left: 1px solid #000000;
	height: 100%;
	overflow: scroll;
	float: left;
} 

#left{
	height: 100%;
	float: left;
} 

#postSubmitDiv{
	padding: 32px;
} 

#main{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	border: 1px solid #000000;
}

#postsDiv{
 	border: 1px solid #000000;
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

/* Parallel with responsive side-bar  */
@media (min-width: 48em) {
	
	#main{
		left: 150px;
	}
}

@media (max-width: 48em) {

    #main{
		left: 0;
	}
}

/* pure.css lg width  */
@media (max-width: 64em) {

    #right {
        display: none;
    }
}

#filter{
	padding-left: 2%;
}

#postsList{
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: scroll;
	border-top: 1px solid #000000;
}

.dropdownBtns{
	width: 125px;
}

#menuLink1{
	background: #0078e7;
	color: #FFFFFF;
}