#right{
	-webkit-box-sizing: border-box;
 	border: 1px solid #000000;
	height: 100%;
	overflow: scroll;
	float: left;
} 

#left{
	-webkit-box-sizing: border-box;
 	border: 1px solid #000000;
	height: 100%;
	overflow: scroll;
	float: left;
} 

#postSubmitDiv{
	position: fixed;
	top: 0;
	height: 100px;
	-webkit-box-sizing: border-box;
 	border: 1px solid #000000;
	padding: 32px;
} 

#main{
	padding-top: 100px;
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
}

#postsDiv{
	-webkit-box-sizing: border-box;
 	border: 1px solid #000000;
	height: 100%;
	overflow: scroll;
}

#postContainer{
	position: static;
	width: 100%;
	height: 180px;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	padding-right: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%; 
	padding: 2%;
}

#post{
	position: static;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
}

#text{
	position: static;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	width: 100%;
	height: 66%;
	padding: 0.5%;
}

#username{
	position: static;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	width: 100%;
	height: 34%;
	padding: 0.5%;
}

#postLeft{
	position: static;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 100%;
	width: 75%;
	float: left;
}

#postRight{
	position: static;
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	width: 25%;
	height: 100%;
	float: left;
}

@media (max-width: 64em) {

    #right {
        display: none;
    }
}

#postStats{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 100%;
	float: left;
}

.postLikes{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 30%;
	text-align: right;
	vertical-align: middle;
	line-height: 42px; 
	font-size: 25px;
	color: #199A19;
}

.postTotal{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 40%;
	text-align: center;
	vertical-align: middle;
	line-height: 57px; 
	font-size: 40px;
}

.postDislikes{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 30%;
	text-align: right;
	vertical-align: middle;
	line-height: 42px; 
	font-size: 25px;
	color: #FF0000;
}

#buttons{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 100%;
}

.likeButton{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 50%;
}

.dislikeButton{
	-webkit-box-sizing: border-box;
	border: 1px solid #000000;
	height: 50%;
}