#container{
 	position: fixed;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	overflow: scroll;
}

#title{
	color: #FFFFFF;
	position: static;
	-webkit-box-sizing: border-box;
/* 	border: 1px solid #000000; */
	padding: 2%;
}

#left{
	color: #FFFFFF;
 	position: static;
 	-webkit-box-sizing: border-box;
/* 	border: 1px solid #000000;  */
	float: left;
	padding: 2%;
 }
 
#right{
	color: #FFFFFF;
 	position: static;
 	-webkit-box-sizing: border-box;
/* 	border: 1px solid #000000;  */
	padding: 2%;
 }
 
.formLabel{
 	position: static;
 	height: 20%;
 }
 
.form{
 	position: static;
 	height: 80%;
 }
 
 html{
	background: url(/springapp/images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

input[type] {
    color: #000000;
}