#main{
	height: 100%;
	width: 100%;
}

#title{
	border: 1px solid #000000;
	/* line-height: 43px;
	text-align: center; */
}

#titleDiv{
	border: 1px solid #000000;
	padding: 2%;
}

#statsDiv{
	border: 1px solid #000000;
	padding: 2%; 
	float: left;
}

#myRecentPostsDiv{
	border: 1px solid #000000;
}

/* preserve image aspect ratio  */
#profileImage{
	float: left;
	width:  100%;
 	height: auto;
}

#profileOverview{
	float:left;
	padding-top: 2%;
	padding-left: 3%;
}

#profileImageDiv{
	float: left;
	overflow: hidden;
}

#delete{
	color: red;
}

/* table, th, td {
    border: 1px solid black;
}  */

td{
	padding: 8px;
}

table{ 
	display: table;
	/* border-collapse: separate;
	border-spacing: 12px; */
	border-color: gray;
}

.stat{
	text-align: right;
	width: 20px;
}

#usernameTitle{
	font-weight: bold;
	font-size: 200%;
	color: #000000;
}

#registeredTimestamp{
	padding-top: 2%;
	font-size: 15px;
}

/* best fit for timestamp on myprofile.jsp */
/* 0 -----> 30 -----> 48 -----> 70 ----->  */
/*    none      block     none      block  */

@media (max-width: 30em) {

    #timestamp {
        display: none;
    }
}

@media (min-width: 48em) {

    #timestamp {
        display: none;
    }
}

@media (min-width: 70em) {

    #timestamp {
        display: block;
    }
}