#main{
	height: 100%;
	width: 100%;
}

#title{
	border: 1px solid #000000;
	line-height: 43px;
	text-align: center;
}

#titleDiv{
	border: 1px solid #000000;
	line-height: 43px;
	text-align: center;
	padding: 2%;
}

#statsDiv{
	border: 1px solid #000000;
	padding: 2%; 
	height: 100%;
	float: left;
}

#myRecentPostsDiv{
	border: 1px solid #000000;
	/* padding: 2%;
	height: 100%;
	overflow: scroll; */
}