#headerBar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 20%;
	background: #1975D1;
}

#leftBar {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 20%;
	width: 20%;
	background: #B2D1F0;
}

#body {
	position: fixed;
	left: 20%;
	right: 0;
	top: 20%;
	bottom: 0;
	background: #FFFFFF;
	padding: .3cm .3cm .3cm .3cm;
	overflow: scroll;
}

#title {
	position: absolute; 
	color: #FFFFFF;
	right: 35%;
	top: 5%;
	font-size: 250%;
}

#time{
	position: absolute; 
	color: #FFFFFF;
	right: 0;
	top: 5%;
	font-size: 150%;
}

#postDiv{
	background: #F8F8F8;
    border: 1px solid #1975D1;
    padding: .3cm .3cm .3cm .3cm;
}